receivers:
  hostmetrics:
    collection_interval: 10s
    scrapers:
      cpu: null
      disk: null
      filesystem:
        include_mount_points:
          match_type: strict
          mount_points:
          - /
      load: null
      memory: null
      network: null
      paging: null
      processes: null
  jaeger:
    protocols:
      grpc:
        endpoint: 0.0.0.0:14250
      thrift_http:
        endpoint: 0.0.0.0:14268
  nop: null
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  prometheus/agent:
    config:
      scrape_configs:
      - job_name: otel-agent
        metric_relabel_configs:
        - action: drop
          regex: promhttp_metric_handler_errors.*
          source_labels:
          - __name__
        - action: drop
          regex: otelcol_processor_batch_.*
          source_labels:
          - __name__
        scrape_interval: 10s
        static_configs:
        - targets:
          - localhost:8889
  zipkin:
    endpoint: 0.0.0.0:9411

extensions:
  headers_setter:
    headers:
    - action: upsert
      # default_value: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
      default_value: x5HPi6Q5ZsncVCzyvLXd9g
      from_context: X-SF-TOKEN
      key: X-SF-TOKEN
  health_check:
    endpoint: 0.0.0.0:13133
  zpages: null

processors:
  batch:
    metadata_keys:
    - X-SF-Token
  filter/logs:
    logs:
      exclude:
        match_type: strict
        resource_attributes:
        - key: splunk.com/exclude
          value: "true"
  memory_limiter:
    check_interval: 2s
    # limit_mib: ${SPLUNK_MEMORY_LIMIT_MIB}
    limit_mib: 2
  resource/add_environment:
    attributes:
    - action: insert
      key: deployment.environment
      value: lab
  resource/add_mode:
    attributes:
    - action: insert
      key: otelcol.service.mode
      value: agent
  resourcedetection:
    detectors:
    - env
    - azure
    - system
    override: true
    timeout: 15s

exporters:
  otlphttp:
    auth:
      authenticator: headers_setter
    metrics_endpoint: https://ingest.us1.signalfx.com/v2/datapoint/otlp
    traces_endpoint: https://ingest.us1.signalfx.com/v2/trace/otlp
  otlphttp/entities:
    auth:
      authenticator: headers_setter
    logs_endpoint: https://ingest.us1.signalfx.com/v3/event
  signalfx:
    # access_token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
    access_token: x5HPi6Q5ZsncVCzyvLXd9g
    api_url: https://api.us1.signalfx.com
    correlation: null
    ingest_url: https://ingest.us1.signalfx.com
    sync_host_metadata: true
  splunk_hec/o11y:
    disable_compression: true
    endpoint: https://ingest.us1.signalfx.com/v1/log
    log_data_enabled: false
    profiling_data_enabled: true
    # token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
    token: x5HPi6Q5ZsncVCzyvLXd9g
  splunk_hec/platform_logs:
    disable_compression: true
    endpoint: https://http-inputs-acumuladoresmoura.splunkcloud.com:8088/services/collector
    idle_conn_timeout: 10s
    index: main
    max_idle_conns: 200
    max_idle_conns_per_host: 200
    profiling_data_enabled: false
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_elapsed_time: 300s
      max_interval: 30s
    sending_queue:
      enabled: true
      num_consumers: 10
      queue_size: 1000
    source: kubernetes
    splunk_app_name: splunk-otel-collector
    splunk_app_version: 0.143.0
    timeout: 10s
    tls:
      insecure_skip_verify: false
    # token: ${SPLUNK_PLATFORM_HEC_TOKEN}
    token: 76e22922-d767-42a8-ac5a-aa65d99dca83

service:
  extensions:
  - health_check
  - headers_setter
  - zpages
  pipelines:
    logs:
      exporters:
      - splunk_hec/o11y
      - splunk_hec/platform_logs
      processors:
      - memory_limiter
      - filter/logs
      - batch
      - resourcedetection
      - resource/add_environment
      receivers:
      - otlp
    logs/entities:
      exporters:
      - otlphttp/entities
      processors:
      - memory_limiter
      - batch
      - resourcedetection
      receivers:
      - nop
    metrics:
      exporters:
      - signalfx
      processors:
      - memory_limiter
      - batch
      - resourcedetection
      receivers:
      - hostmetrics
      - otlp
    metrics/agent:
      exporters:
      - signalfx
      processors:
      - memory_limiter
      - batch
      - resourcedetection
      - resource/add_mode
      receivers:
      - prometheus/agent
    traces:
      exporters:
      - otlphttp
      - signalfx
      processors:
      - memory_limiter
      - batch
      - resourcedetection
      - resource/add_environment
      receivers:
      - otlp
      - jaeger
      - zipkin
